@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";

/* Forms */
/* https://getbootstrap.com/docs/4.0/examples/signin/ */
.form-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content-container {
  padding-top: 100px;
}

.form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form .form-signin-heading,
.form .checkbox {
  margin-bottom: 10px;
}

.form .checkbox {
  font-weight: 400;
}

.form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form .form-control:focus {
  z-index: 2;
}

.form button {
  margin-bottom: 10px;
}

.form input {
  margin-bottom: 10px;
}

/* Sticky footer styles */
/* https://getbootstrap.com/docs/4.0/examples/sticky-footer/ */
.page-container {
  height: 100vh;
  background-color: #eee;
}

.footer {
  font-size: 12px;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 30px;
  line-height: 30px; /* Vertically center the text there */
  background-color: #f5f5f5;
}


/* Masthead */
/* https://github.com/BlackrockDigital/startbootstrap-landing-page */
/* MIT License */
@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
header.masthead {
  position: relative;
  background-color: $gray-800;
  background: url('tahoerocks.jpg') no-repeat center center;
  @include background-cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
  .overlay {
    position: absolute;
    background-color: $gray-900;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
  }
  h1 {
    font-size: 2rem;
  }
  @media (min-width: 768px) {
    padding-top: 12rem;
    padding-bottom: 12rem;
    h1 {
      font-size: 3rem;
    }
  }
}